<%= form_for(announcement) do |f| %>
<% if announcement.errors.any? %>
  <div id="error_explanation">

    <h2><%= pluralize(announcement.errors.count, "erros") %>
      Anúncio não pode ser salvo.
    </h2>

    <ul>
      <% announcement.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label "Título" %>
  <%= f.text_field :title, class: "form-control" %>
  <label style="color:rgb(180,180,180)"><i>Os anúncios serão pesquisados pelo título</i></label>
</div>

<div class="form-group">
  <%= f.label "Descrição" %>
  <%= f.text_area :description, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label "Categoria" %>
  <%= f.collection_select :category_id, @categories, :id, :category_name, {},id: "category_id", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label "Sub-categoria" %>
  <% if @sub_categories %>
    <%= f.collection_select :sub_category_id, @sub_categories, :id, :sub_category_name, {},id: "sub_category_id", class:"form-control" %>
  <% else %>
    <select id="sub_category_id" name="announcement[sub_category_id]" class="form-control">
    </select>
  <% end %>
</div>

<div class="form-group">
  <%= f.label "Preço" %>
  <%= f.text_field :price, class: "form-control" %>
</div>

<div class="form-group">
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Salvar
  <% end %>
  <%= link_to 'Voltar', announcements_path, class: "btn btn-default" %>
</div>

<% end %>
