<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <% if content_for? :head %>
    <%= yield :head %>
    <% end %>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <a class="navbar-brand" href="/" style="font-family:Lato;font-size:28px;font-color:white">Classificados Terê</a>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <li>
                  <%= link_to "Meus anúncios", announcements_path, action: "edit", class: "navbar-custom"%>
                </li>
              <% else %>
                <li>
                  <%= link_to ' Login', user_session_path, class: "navbar-custom" %>
                </li>
                <% end %>
                <li>
                  <%= button_to 'Novo anúncio', new_announcement_path,
                      :method => :get,
                      class: "btn btn-primary navbar-btn" %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% elsif alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p>Footer Text</p>
      </div>
    </footer>

    </div>
  </body>
</html>
